[user]
    name = kbaikov
    email = konstantin.baikov@example.com
[color]
    ui = true
[push]
    default = simple
[alias]
    undo-commit = reset --soft HEAD^
    even = !git fetch upstream && git rebase upstream/master && git push origin
    l = log --oneline --graph
    s = status -s
    co = checkout
    lg = log --oneline --all --graph --decorate
    branches = branch -a
    tags = tag
    stashes = stash list
    remotes = remote -v
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend
    nevermind = !git reset --hard HEAD && git clean -d -f
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    precommit = diff --cached --diff-algorithm=minimal -w
    unmerged = diff --name-only --diff-filter=U
[core]
	editor = code --wait
    excludesfile = /home/kbaikov/.gitignore
[fetch]
    prune = true
[pull]
    rebase = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[credential]
	helper = manager-core
[help]
    autocorrect = 1
[rebase]
    autostash = true
[feature]
    manyFiles = 1
